{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Course{% endblock %}</h1>
{% endblock %}

{% block nav %}
<h1>{% block name %}Welcome, {% endblock %}</h1>  
<u1>
  <a href="{{ url_for('index') }}">Back</a>
  </u1>
{% endblock %}
{% block content %}
<style >
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: center;
    }
</style>
<table style="width:100%">
    <tr>
        <th>Level - ระดับ</th>
        <th>Price - ราคา</th>
        <th>Instrument - เครื่องดนตรี</th>
        <th>Teacher - ครูผู้สอน</th>
        <th>Hour/time - ชั่วโมง/ครั้ง</th>
        <th>No. Attend - จำนวนครั้ง</th>
    </tr>
<tbody>
{% for row in datas %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.4 }}</td>
        <td>{{ row.5 }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}