{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block nav %}
<h1>{% block name %}Admin{% endblock %}</h1>
<ul>
  {% if g.admin %}
  <li><span>{{ g.admin['username'] }}</span>
    <li><a href="{{ url_for('admin.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('admin.login') }}">Log In</a>
          {% endif %}
        </ul>
        {% endblock %}

	{% block content %}
	<ul>
          <li><a href="{{ url_for('admin.teachers') }}">Teachers</a>	
	  <li><a href="{{ url_for('admin.students') }}">Studentss</a>	
   	  <li><a href="{{ url_for('admin.courses') }}">Courses</a>
	</ul>
	{% endblock %}
