{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Courses{% endblock %}</h1>
{% endblock %}

{% block nav %}
  <h1>{% block name %}Admin{% endblock %}</h1>
  <ul>
    {% if g.admin %}
      <li><span>{{ g.admin['username'] }}</span>
      <li><a href="{{ url_for('admin.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('admin.login') }}">Log In</a>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
    <style >
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
            th, td {
            padding: 5px;
            text-align: center;
            }
    </style>
    <table style="width:100%">
            <tr>
                <th>เครื่องดนตรี</th>
                <th>คอร์ส</th>
                <th>ราคา</th>
                <th>ชั่วโมง/ครั้ง</th>
                <th>จำนวนครั้ง</th>

            </tr>
        <tbody>
        {% for row in datas %}
            <tr>
                <td>{{ row.InsName }}</td>
                <td>{{ row.CouName }}</td>
		<td>{{ row.Price }}</td>
                <td>{{ row.HousPerTime }}</td>
                <td>{{ row.NumOfTimes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
    <li><a href="{{ url_for('admin.create_course') }}">Create Course</a>
    </ul>
{% endblock %}
