{% extends 'base.html' %}

{% block nav %}
  <h1>{% block name %}Teacher{% endblock %}</h1>
  <ul>
    {% if g.teacher %}
      <li><span>{{ g.teacher['username'] }}</span>
      <li><a href="{{ url_for('teacher.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('teacher.register') }}">Register</a>
      <li><a href="{{ url_for('teacher.login') }}">Log In</a>
    {% endif %}
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}
